<!--accounts/templates/accounts/employee_register.html-->

{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4>Register Here</h4>
        <hr>
        <div class="card card-body" style="padding: 3rem 30rem 3rem 30rem;">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-primary col" type="submit">Register</button>
            {% if messages %}
                {% for message in messages %}
                    <p style="margin: 20px 0 0 0; color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}