<!--assets/templates/assets/employee_view_asset.html-->
{% extends 'layout.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

</head>

<div class="row">
	<div class="col-md-12">
	    <h4>All Assets Assigned to You</h4>
	    <hr>
	    <div class="card card-body">
	        <table class="table table-striped">
	            <thead class="thead-dark">
	                <tr>
	                    <th>Name</th>
	                    <th>Category</th>
	                    <th>Tag</th>
	                    <th>Brand</th>
	                </tr>
	            </thead>
	            {% if context.all_assets %}
    				{% for asset in context.all_assets %}
    					<tr>
    					    <td>{{ asset.name }}</td>
    						<td>{{ asset.category}}</td>
    						<td>{{ asset.tag }}</td>
    						<td>{{ asset.brand }}</td>
    					</tr>
    				{% endfor %}
    			{% else %}
    			    <tr>
    			        <td colspan="4" class="text-center text-muted">You have not been assigned any assets yet</td>
    			    </tr>
    			{% endif %}
    	    </table>
    	</div>
	</div>
</div>

{% endblock %}