<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 8px 80px;">
    {% if user.is_authenticated %}
        {% if user.username == "admin" %}
            <!--Navbar for Admin-->
            <a class="navbar-brand" href="{% url 'admin_home' %}">EazyInventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 100px;">
                <ul class="navbar-nav">
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link" href="">Asset Requests</a>
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link" href="">Asset Service Requests</a>
                    </li>
                    <li class="nav-item dropdown" style="padding: 0 10px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Asset</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'view_asset' %}">View</a>
                            <a class="dropdown-item" href="{% url 'add_asset' %}">Add</a>
                            <a class="dropdown-item" href="{% url 'checkout_asset' %}">Check Out</a>
                            <a class="dropdown-item" href="{% url 'checkin_asset' %}">Check In</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding: 0 10px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">View</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'view_component' %}">View</a>
                            <a class="dropdown-item" href="{% url 'add_component' %}">Add</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link">Welcome, {{ user }}</a>
                    </li>
                    <li class="nav-item active">
                        <form action="{% url 'admin_logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% else %}
            <!--Navbar for Employees-->
            <a class="navbar-brand" href="{% url 'employee_home' %}">EazyInventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 100px;">
                <ul class="navbar-nav">
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link" href="">Request Asset</a>
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link" href="">Request Asset Service</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active" style="margin-right: 10px;">
                        <a class="nav-link">Welcome, {{ user.first_name }}</a>
                    </li>
                    <li class="nav-item active">
                        <form action="{% url 'employee_logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% else %}
        <a class="navbar-brand" href="/">EazyInventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active" style="padding: 0 10px;">
                    <a class="nav-link" href="{% url 'employee_register' %}">Register</a>
                </li>
                <li class="nav-item active" style="padding: 0 10px;">
                    <a class="nav-link" href="{% url 'employee_login' %}">Login</a>
                </li>
                <li class="nav-item active" style="padding: 0 10px;">
                    <a class="nav-link" href="">Contact</a>
                </li>
                <li class="nav-item active" style="padding: 0 0 0 10px;">
                    <a class="nav-link" href="">About</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>